        .flex-container {
            width: 80%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            background-color: aquamarine;

        }

        .flex-container div {
            background-color: green;
            border: 3px solid black;
            box-sizing: border-box;
            margin-right: 5%;
            width: 30%;
            height: 50px;

        }